<script src="../../Scripts/Modules/TestPageController.js"></script>
@{
    ViewBag.Title = "TestPage";
}
<div id="body">
    <h2>TestPage1321 for days </h2>


    <div ng-app="myApp" ng-controller="myCtrl">
        <button class="btn btn-primary" ng-click="getValuesFromApi()">Get Values from Web Api</button>
        <button class="btn btn-warning" ng-click="clearValuesApi()">Clear Values</button>
        <p>Name : <input type="text" ng-model="name"></p>
        <h1>Hello {{name}}</h1>
        <h1>{{yo}}</h1>
    </div>

    
</div>
